### /home/seemayer/.gitignore-boilerplates/Node.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

node_modules


### /home/seemayer/.gitignore-boilerplates/Global/vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### This project
config.json
lib

.idea